.search {
  display: flex;
  position: relative;
  flex: 1;
  align-items: center;
  background-color: #eeeeee;
  height: 48px;
  border-radius: 100px;
  padding: 0 20px;
  margin: 0 100px 0 150px;
}

.search input {
  flex: 1;
  height: 48px;
  padding-left: 11px;
  outline: none;
  background-color: inherit;
}

.search .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: #eeeeee;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 0%;
}

.search input:focus + .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .search {
    margin: 0 40px;
  }
}
@media screen and (max-width: 550px) {
  .search {
    margin: 20px 0;
  }
}
